# Pre-processing data from Division of Linguistic Labor

In [2]:
import pandas as pd

### Creación del DataFrame con el desempeño en rondas de entrenamiento y juego para ambos tratamientos

In [28]:
data_single = pd.read_csv('paraK_single.csv')
data_single['Treatment'] = 'Single'
data_single.head(2)

,Dyad,Player,Raza,Stage,Round,Object,Label,Kind,Correct,Treatment
0,32519-32519,325192931513079,terrier,5,1,C11.jpg,C,C,1,Single
1,32519-32519,325192931513079,terrier,5,1,A1.jpg,C,A,0,Single

In [29]:
data_group = pd.read_csv('paraK_group.csv')
data_group['Treatment'] = 'Dyad'
data_group.head(2)

,Dyad,Player,Raza,Stage,Round,Object,Label,Kind,Correct,Treatment
0,45981-38174,459819203408978,hound,1,1,B5.jpg,B,B,1,Dyad
1,45981-38174,459819203408978,hound,1,1,D2.jpg,B,D,0,Dyad

In [30]:
data = pd.concat([data_single, data_group])
dict_training_game = {5: 'Training rounds', 1:'Training rounds', 6:'Game rounds', 2: 'Game rounds'}
data['Stage'] = data['Stage'].map(dict_training_game)
del data['Object']
data['RazaN'] = data['Raza'].apply(lambda x: 'terrier' if x=='hound' else 'hound')
data['indice'] = data.index
data['Perro'] = data['indice'].apply(lambda x: 'Perro' + str(x%5 +1))
del data['indice']
data = data[['Dyad', 'Player', 'Raza', 'RazaN', 'Stage', 'Round', 'Perro', 'Label', 'Kind', 'Correct', 'Treatment']]
data.columns = ['pareja', 'jugador', 'experto_en', 'novato_en', 'etapa', 'ronda', 'perro', 'clasificacion', 'raza', 'clasificacion_correcta', 'tratamiento']
data.head()

,pareja,jugador,experto_en,novato_en,etapa,ronda,perro,clasificacion,raza,clasificacion_correcta,tratamiento
0,32519-32519,325192931513079,terrier,hound,Training rounds,1,Perro1,C,C,1,Single
1,32519-32519,325192931513079,terrier,hound,Training rounds,1,Perro2,C,A,0,Single
2,32519-32519,325192931513079,terrier,hound,Training rounds,1,Perro3,A,A,1,Single
3,32519-32519,325192931513079,terrier,hound,Training rounds,1,Perro4,A,A,1,Single
4,32519-32519,325192931513079,terrier,hound,Training rounds,1,Perro5,A,A,1,Single

In [31]:
data.to_csv('performance.csv', index=False)

### Creación del DataFrame con los datos de comunicación

In [36]:
data_comunicacion = pd.read_csv('comunicacion-raw.csv')
#data_comunicacion = data_comunicacion[['Dyad', 'Player', 'Round', 'Perro', 'Kind', 'suposicion', 'Rotulo', 'Recibido', 'Correctitud']]
data_group = data[(data['tratamiento']=='Dyad') & (data['etapa']=='Game rounds')]
#data_group = data_group[['Dyad', 'Expert', 'Novice', 'Player', 'Round', 'Perro', 'Kind', 'Label', 'Correct']]
df1 = pd.merge(data_group, data_comunicacion, how='left', on=['Player', 'Round', 'Perro'])
#df1 = df1[['Dyad_x', 'Expert', 'Novice', 'Player', 'Round', 'Perro', 'Kind_x', 'Label', 'Correct', 'suposicion', 'Rotulo', 'Recibido', 'Correctitud']]
df1['respondido'] = df1['Recibido'].apply(lambda x: 'Si' if (x=='Si') or (x=='No') else 'No')
#df1.columns = ['pareja', 'experto_en', 'novato_en', 'jugador', 'ronda', 'perro', 'raza', 'clasificacion', 'clasificacion_correcta', 'suposicion', 'rotulo_enviado', 'respuesta', 'respuesta_correcta', 'respondido']
df1.head()

KeyError: 'Player'

In [19]:
reporte_comprension_individual = pd.read_csv('./calificacion_single.csv')
reporte_comprension_individual['Treatment'] = 'Single'
reporte_comprension_individual.columns = ['jugador', 'experto_en', 'GradingA', 'GradingB', 'GradingC', 'GradingD', 'Treatment']
reporte_comprension_individual.head()

,jugador,experto_en,GradingA,GradingB,GradingC,GradingD,Treatment
0,325192931513079,terrier,4,4,4,4,Single
1,571663380480362,terrier,6,5,6,6,Single
2,573037277775110,hound,6,5,6,7,Single
3,540382156604799,terrier,6,4,6,4,Single
4,880772070057086,hound,5,6,5,6,Single

In [22]:
reporte_comprension_parejas = pd.read_csv('./calificacion_group.csv')
reporte_comprension_parejas['Treatment'] = 'Dyad'
reporte_comprension_parejas.columns = ['jugador', 'experto_en', 'GradingA', 'GradingB', 'GradingC', 'GradingD', 'Treatment']
reporte_comprension_parejas.head()

,jugador,experto_en,GradingA,GradingB,GradingC,GradingD,Treatment
0,38174543864515,terrier,4,3,7,5,Dyad
1,459819203408978,hound,3,6,4,7,Dyad
2,137619579400459,terrier,7,4,7,4,Dyad
3,835804561913525,hound,4,7,4,7,Dyad
4,42404690668940,terrier,5,3,7,7,Dyad

In [24]:
reporte_comprension = pd.concat([reporte_comprension_parejas, reporte_comprension_individual])
reporte_comprension.head()

,jugador,experto_en,GradingA,GradingB,GradingC,GradingD,Treatment
0,38174543864515,terrier,4,3,7,5,Dyad
1,459819203408978,hound,3,6,4,7,Dyad
2,137619579400459,terrier,7,4,7,4,Dyad
3,835804561913525,hound,4,7,4,7,Dyad
4,42404690668940,terrier,5,3,7,7,Dyad

In [25]:
reporte_comprension.to_csv('./rep-comprension.csv', index=False)